<center><h1><%= link_to "chuteki | gallery", root_path %></h1></center>
<center><a href="/">all</a> // <a href="/?tag=original">original</a> // <a href="/?tag=fanart">fanart</a></center>
<center><%= will_paginate @arts %></center>

<div id="gallery" class="container">
  <% i=0 %>
  <% total_works = @arts.count %>
  <% if total_works < 1 %>
    There are no works to display!
  <% end %>
  <% for work in @arts %>
    <% if i%3==0 %>
      <div class="row">
    <% end %>
    <div class="col-md-4">
      <div class="thumbnail center-block" style="width:275px;height:auto;overflow:hidden;border:transparent;">
        <a href="#" data-toggle="modal" data-target="#<%=i%>"><img src="<%= work.image.medium.url %>"></a>
        <center><%= work.name %></center>
      </div>
    </div>

    <div class="modal fade" id="<%=i%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel<%=i%>">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel<%=i%>"><%= work.name %></h4>
          </div>
          <div class="modal-body">
            <center><img src="<%=work.image.url%>" style="max-width:100%;height:auto;"></center>

            <br />
            <span id="next" class="form-control-static pull-right"><a class="btn btn-default btn-xs" onclick="goto(<%=i%>, <%=i + 1%>)">&#x3e;</a></span>
            <span id="prev" class="form-control-static pull-left"><a class="btn btn-default btn-xs" onclick="goto(<%=i%>, <%=i - 1%>)">&#x3c;</a></span>
            <center><%= work.description %></center>
          </div>
          <div class="modal-footer">

             <div style="float:left;color:#737373;">
               <% work.tag_list.each do |tag| %>
                <a class="btn btn-default btn-xs" data-dismiss="modal" onclick="javascript:window.location='/?tag=<%= tag %>'"><%= tag %></a>
                <% end %>
             </div>
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="hide(<%=i%>);">Close</button>
          </div>
        </div>
      </div>
    </div>

    <% i+=1 %>
    <% if i%3==0 || i == total_works %>
      </div>
    <% end %>
  <% end %>
</div>

<center><%= will_paginate @arts %></center>

<footer>
  <div id="footer">
    <center>
      <%= link_to root_path do %>
        <i class="fa fa-home"></i>
      <% end %> |
      <a href="http://gallery.chuteki.com/"><i class="fa fa-image"></i></a> |
      <a href="http://chuteki.tumblr.com/"><i class="fa fa-tumblr"></i></a> |
      <a href="http://twitter.com/_chuteki"><i class="fa fa-twitter"></i></a> |
      <a href="http://instagram.com/chuteki"><i class="fa fa-instagram"></i></a> |
      <a href="mailto:info@chuteki.com"><i class="fa fa-envelope-o"></i></a> |
      <%= link_to new_admin_session_path do %>
        <i class="fa fa-user"></i>
      <% end %>
    </center>
  </div>
</footer>

<span id="total_works" style="display:none"><%= @arts.count %></span>

<script>
var total_works = parseInt($("#total_works").html(), 10)

function hide(id) {
  $('#'+id).modal('hide');
}

function goto(current, next) {
  $('#'+current).modal('hide');

  if (next > total_works+1) {
    return
  } else if (next < -1) {
    return
  }

  $('#'+next).modal('show');

  current_modal = next
}

document.onkeydown = checkKey;

function checkKey(e) {
  e = e || window.event;

  var activeModal = -1;

  for (var i = 0; i < total_works; i++) {
    if ($('#'+ i).is(':visible')) {
      activeModal = i;
      break
    }
  }

  if (activeModal == -1) {
    return;
  }

  if (e.keyCode == '37') {
    goto(activeModal, activeModal-1);
  } else if (e.keyCode == '39') {
    goto(activeModal, activeModal+1);
  }
}
</script>
